@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color : white;
}
p::selection, h1::selection, span::selection {
  background-color: #0e2447 !important;
  color: white !important;
}

h1 {
  font-family: 'Roboto', sans-serif !important;
}

.yoyo {
  font-family: 'Roboto', sans-serif !important;
}



